<template>
  <div>
    <nav>
      <div class="nav-container">
        <div class="nav-item">
          <button class="button button-grey" @click.prevent.stop="back()">
            BACK
          </button>
        </div>
      </div>
    </nav>
    <div class="container">
      <div v-if="errors.length == 0">
        <ProjectForm :project="project" />
      </div>
      <div v-if="errors.length">
        <div v-for="error in errors" :key="error.er_id" class="error">
          OOPS! {{ error.message }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  async fetch() {
    try {
      this.project = (
        await this.$axios.get(`projects-manage/${this.id}`)
      ).data.project
    } catch (err) {
      this.errors.push(Object.assign(err, { err_id: Math.random() }))
    }
  },
  asyncData({ params }) {
    const id = params.id
    return { id }
  },
  data() {
    return {
      project: {},
      errors: [],
    }
  },
  validate({ params }) {
    return /^\d+$/.test(params.id)
  },
  methods: {
    back() {
      this.$router.push('/projects')
    },
  },
}
</script>
<style lang="scss" scoped>
nav {
  display: flex;
  background-color: #c1c8d2;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  .nav-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
</style>
