<template>
  <div class="container">
    <div v-if="errors.length > 0">
      <div v-for="error in errors" :key="error.err_id" class="error">
        {{ error.message }}
      </div>
    </div>
    <div v-if="errors.length === 0">
      <ProjectList :projects="posts" />
    </div>
  </div>
</template>
<script>
export default {
  async fetch() {
    try {
      this.posts = (
        await this.$axios.get('projects-manage/index')
      ).data.projects
    } catch (err) {
      this.errors.push(Object.assign(err, { err_id: Math.random() }))
    }
  },
  data() {
    return {
      posts: [],
      errors: [],
    }
  },
  fetchOnServer: true,
}
</script>
