<template>
  <div class="container">
    <div class="card">
      <form method="post" @submit.prevent="handleLogin">
        <label><b>LOGIN</b></label>
        <div>
          <input
            v-model="login.email"
            class="full-width"
            type="text"
            placeholder="Email"
          />
          <div v-if="first_errors.email" class="error-block">
            {{ first_errors.email }}
          </div>
        </div>
        <div>
          <input
            v-model="login.password"
            class="full-width"
            type="password"
            placeholder="Password"
          />
          <div v-if="first_errors.password" class="error-block">
            {{ first_errors.password }}
          </div>
        </div>
        <div v-if="errors.length">
          <div v-for="error in errors" :key="error.e_id" class="error-block">
            {{ error.message }}
          </div>
        </div>
        <div class="form-group submit">
          <button class="button button-blue" type="submit">LOGIN</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      login: {
        email: '',
        password: '',
      },
      errors: [],
      first_errors: {},
    }
  },
  methods: {
    async handleLogin() {
      try {
        this.errors = []
        this.first_errors = {}
        await this.$auth.loginWith('local', {
          data: this.login,
        })
        this.$router.push('projects')
      } catch (err) {
        if (
          err &&
          err.response &&
          err.response.data &&
          err.response.data.first_errors
        ) {
          return (this.first_errors = err.response.data.first_errors)
        }
        this.errors.push(Object.assign(err, { e_id: Math.random() }))
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  text-align: left;

  .card {
    background-color: #f4f4f4;
    width: 600px;
    border: 0;

    form {
      * {
        margin-left: 0;
        margin-top: 5px;
      }

      .form-group {
        &.submit {
          button {
            min-width: 120px;
          }
        }
      }
    }
  }
}
</style>
