<template>
  <nav class="navbar">
    <div class="navbar-item navbar-brand">
      <nuxt-link class="navbar-item" to="/">Q</nuxt-link>
    </div>
    <div class="main-nav">
      <div v-if="isAuthenticated" class="navbar-item">
        <nuxt-link class="navbar-item" to="/projects">PROJECTS</nuxt-link>
      </div>
      <div v-if="!isAuthenticated" class="navbar-item">
        <nuxt-link class="navbar-item" to="/login">LOGIN</nuxt-link>
      </div>
      <div v-if="isAuthenticated" class="navbar-item">
        <a href="#" class="navbar-item" @click.prevent.stop="logout">LOGOUT</a>
      </div>
    </div>
  </nav>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
  },
}
</script>
<style scoped lang="scss">
.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-item {
    a {
      text-decoration: none;
      color: #878787;
    }
    &.navbar-brand {
      a {
        font-size: 25px;
        font-weight: bold;
        color: black;
      }

      padding-left: 30px;
      margin: 0;
    }

    flex: 1;
    min-width: 50px;
    margin-left: 10px;
  }
}
</style>
