<template>
  <div class="container">
    <div class="list">
      <div v-for="project in projects" :key="project.id" class="list-item card">
        <div class="project-card" @click.stop.prevent="handleClick(project)">
          <div class="project-card-item project-image">
            <img :src="project.logo_url" alt="" />
          </div>
          <div class="project-card-item project-name">{{ project.name }}</div>
          <div
            class="project-card-item project-status"
            :class="{ 'project-status__active': project.is_active }"
          >
            {{ project.is_active ? 'Active' : 'Not Active' }}
          </div>
          <div class="project-card-item project-metrix">
            <div class="project-metrix-item">
              <div class="project-metrix-item-stat">time this week</div>
              <div class="project-metrix-item-value">
                {{ calcStats(project, 'week') }}
              </div>
            </div>
            <div class="project-metrix-item">
              <div class="project-metrix-item-stat">this month</div>
              <div class="project-metrix-item-value">
                {{ calcStats(project, 'month') }}
              </div>
            </div>
            <div class="project-metrix-item">
              <div class="project-metrix-item-stat">total</div>
              <div class="project-metrix-item-value">
                {{ calcStats(project, 'total') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const moment = require('moment')

export default {
  props: {
    projects: {
      type: Array,
      required: true,
    },
  },
  methods: {
    handleClick(project) {
      this.$router.push(`/projects/${project.id}`)
    },
    calcStats(project, type) {
      const total = project.users.reduce((acc, curr) => {
        const [date, time] = curr.dta_activity.split(' ')
        const isCurrMon = moment(date).month() === moment().month()
        const isCurrWeek = moment(date).week() === moment().week()
        if (type === 'month' && !isCurrMon) {
          return acc
        }
        if (type === 'week' && !isCurrWeek) {
          return acc
        }
        // split time at the colons
        const a = time.split(':')
        // minutes are worth 60 seconds. Hours are worth 60 minutes.
        const seconds = +a[0] * 60 * 60 + +a[1] * 60 + +a[2]
        return acc + seconds
      }, 0)
      return new Date(total * 1000).toISOString().substr(11, 8)
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    .list-item {
      &:hover {
        cursor: pointer;
      }
      &.card {
        .project-card {
          display: flex;
          margin: 10px 20px;
          align-items: center;
          justify-content: center;
          .project-card-item {
            &.project-image {
              max-width: 120px;
              img {
                width: 70px;
                margin-left: auto;
                margin-right: auto;
              }
            }
            &.project-metrix {
              .project-metrix-item {
                .project-metrix-item-stat {
                  min-width: 115px;
                  flex: 1;
                }
                .project-metrix-item-value {
                  font-weight: bold;
                }

                display: flex;
              }

              display: flex;
              flex-direction: column;
            }
            &.project-status {
              &__active {
                color: green;
                font-weight: bold;
              }
            }
            &.project-name {
              font-weight: bold;
            }

            flex: 1;
            display: flex;
          }
        }
      }

      flex: 1;
    }
  }
}
</style>
