<template>
  <div class="container">
    <div class="card">
      <form @submit.prevent="handleSave">
        <div class="form-group">
          <label>Name</label>
          <input v-model="project.name" type="text" />

          <button class="button button-blue" type="submit">OK</button>
        </div>
        <div v-if="first_errors && first_errors.name" class="error-block">
          {{ first_errors.name }}
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    project: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      errors: [],
      first_errors: {},
    }
  },
  methods: {
    async handleSave() {
      try {
        this.errors = []
        this.first_errors = {}
        await this.$axios.put(`projects-manage/${this.project.id}`, {
          name: this.project.name,
        })
        this.$toast.success('Successfully saved')
      } catch (err) {
        if (
          err &&
          err.response &&
          err.response.data &&
          err.response.data.first_errors
        ) {
          return (this.first_errors = err.response.data.first_errors)
        }
        this.errors.push(Object.assign(err, { err_id: Math.random() }))
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 900px;
    padding: 15px;

    form {
      .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        * {
          flex: 1;
        }
        button {
          max-width: 60px;
        }
        label {
          max-width: 100px;
        }
      }
    }
  }
}
</style>
