<template>
  <div>
    <NavBar />
    <Nuxt />
  </div>
</template>

<style lang="scss">
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #f4f4f4;
  body {
    min-width: 950px;

    .button {
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        cursor: pointer;
      }
      &-blue {
        background-color: #3a5477;
        color: white;
        &:hover {
          color: black;
          background-color: #cecece;
        }
      }

      &-grey {
        background-color: #cecece;
        &:hover {
          color: #fff;
          background-color: #35495e;
        }
      }

      display: inline-block;
      border-radius: 4px;
      border: 0;
      text-decoration: none;
      padding: 12px 12px;
      margin: 5px;
      font-weight: bold;
    }

    .container {
      margin-top: 20px;

      .card {
        background: #fff;
        border-radius: 2px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        display: inline-block;
        margin: 5px;
        position: relative;
      }

      input {
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &.full-width {
          width: 100%;
        }

        font-size: 16px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 8px;
      }

      .error {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
      .error-block {
        background-color: red;
        border-radius: 2px;
        padding: 5px;
        color: white;
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>
